*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#header-title {
  background-color: rgb(197, 197, 197);
  color: #fff;
  text-align: center;
  font-size: 7em;
  font-weight: bold;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  display: block;
  border: black;
  border-style: double;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
	
}

.header-description {
	text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color:rgb(197, 197, 197);
  margin: auto;
  font-size: 1.25em;
  border-bottom: black;
  border-style: groove;

}

.page-navigation-h2 {

}

.nav {

}

.nav-items {

}

.nav-item {

}

.nav-link {

}

#html {
  border-style: groove;

}

#html-h2 {
  text-align: center;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9, 
  0 3px 0 #bbb, 
  0 4px 0 #b9b9b9, 
  0 5px 0 #aaa, 
  0 6px 1px rgba(0,0,0,.1), 
  0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 
  0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
  
}

#html-fundamentals {

}

.html-elements {

}

.html-code {
  background-color: rgb(175, 175, 175);
  color: indigo;
}

#target-attribute {

}

#target-attribute-p {

}

#target-aside {

}

#target-example {

}

#semantics {

}

#html-semantics-h3 {

}

#html-semantics-p {

}

#html-semantics-ul {

}

.html-semantics-li {

}

#html-tables {

}

#html-tables-h3 {

}

#html-table-elements {

}

.html-table-example {

}

.table-example-head {

}

.table-row {

}

.table-head {

}

.table-body {

}

.table-data {

}

#html-table-attributes {

}

.table-footer {

}

#css {

}

#css-h2 {
  text-align: center;
  border-bottom-style: groove;
  border-top-style: groove;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9, 
  0 3px 0 #bbb, 
  0 4px 0 #b9b9b9, 
  0 5px 0 #aaa, 
  0 6px 1px rgba(0,0,0,.1), 
  0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 
  0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
  

}

#css-selectors-visual-rules {

}

.css-selectors-visual-table {

}

.css-selectors-visual-thead {

}

.css-selectors-visual-tr {

}

.css-selectors-visual-th {

}

.css-selectors-visual-tbody {

}

.css-selectors-visual-td-class{

}

.css-selectors-visual-td-id {

}

#css-display-positioning {

}

#css-z-index {

}

#css-z-index-h3 {

}

.css-code {
  background-color: black;
  color: whitesmoke;
}

.html-code {

}